*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerWrapper{
    height: 70px;
    width:  100%;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #ece6cd;
    color: #3a3f58;
    font-family: "Raleway";
    font-weight: 600;
}

.headerLogo{
    width: 20%;
}

img{
    height: 60px;
}

.headerTitle{
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.createOwn{
    width: 30%;
}

.createBtn{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #3a3f58;
    color: white;
    text-decoration: none;
}